<!DOCTYPE html>
<head>
    <title>Ceres</title>
		<meta charset="utf-8">	
        <link rel="stylesheet" href="main.css">	
        <script type="text/javascript" src='main.js'> </script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Raleway:300|Roboto&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <div class="bar menu" id="menu">
            <div class="title">C E R E S</div>
    </div>


    <div class="detalhes" id="detalhes">
        <button class="voltar" id="sair_detalhes" onclick="detalhes()" style="display: none;"></button>
        <div class="content" id="cartao_detalhes">
            <div class="dot"><img class="foto" src="https://cdn.pixabay.com/photo/2016/10/18/19/24/carrot-1751148_960_720.png"></div>
            <div class="titulo"> Cenoura </div>
            <div class="descricao"> A Cenoura é um alimento nutritivo que pode te deixar cheio se você comer um monte de cenoura</div>
            <div class="especificacao"> <strong>Caloria:</strong> 122kcal</div>
            <div class="especificacao"> <strong>Tempo:</strong> 3 Meses </div>
            <div class="especificacao" style="float: none; width: 90%; margin: auto;"> <strong>Nuntrientes:</strong> B6,Potássio,Carboidratos e Vitamina C </div>
            <div class="botao"><a href="passos.html" class="title" > PLANTE </a></div>
        </div>
    </div>
 



    <div class="page page-margin"> 

   
        <div class="cards">
            <div class="card">
	           <div class="up"> <img src="https://cdn.pixabay.com/photo/2016/10/18/19/24/carrot-1751148_960_720.png"> </div>
                <div class="titulo"> Cenoura </div>
                <div class="descricao">A Cenoura é um alimento nutritivo que pode te deixar cheio se você comer um monte de cenoura</div>
                <div class="ver" onclick="detalhes()">
                    <div class="botao_nome">CONHEÇA</div>
                </div>   
	        </div>
        </div>
     
        <div class="cards">
            <div class="card">
               <div class="up"> <img src="https://cdn.pixabay.com/photo/2016/10/18/19/24/carrot-1751148_960_720.png"> </div>
                <div class="titulo"> Cenoura </div>
                <div class="descricao">A Cenoura é um alimento nutritivo que pode te deixar cheio se você comer um monte de cenoura</div>
                <div class="ver" onclick="detalhes()">
                    <div class="botao_nome" >CONHEÇA</div>
                </div>   
            </div>
        </div>

        <div class="cards">
            <div class="card">
               <div class="up"> <img src="https://cdn.pixabay.com/photo/2016/10/18/19/24/carrot-1751148_960_720.png"> </div>
                <div class="titulo"> Cenoura </div>
                <div class="descricao">A Cenoura é um alimento nutritivo que pode te deixar cheio se você comer um monte de cenoura</div>
                <div class="ver">
                    <div class="botao_nome">CONHEÇA</div>
                </div>   
            </div>
        </div>    

    </div> 


              
</body>
</html>