<!DOCTYPE html>
<head>
    <title>Ceres</title>
		<meta charset="utf-8">	
         <link rel="stylesheet" href={{url_for("static",filename="main.css")}}>
        <script type="text/javascript" src={{url_for("static",filename="main.js")}}> </script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Raleway:300|Roboto&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <div class="bar menu" id="menu">
            <div class="title">C E R E S</div>
    </div>

     <div class="page page-margin"> 
        <div class="passos">
            <div class="number">1</div>
            <div class="howto"> Primeiro você pega a semente, encontra o solo para ela crescer bem feliz, feito isso mete bronca, é só furar e colcocar a semente, agora vamos para o próximo passo possível. 
            </div>
        </div>

     <div class="passos">
            <div class="number">2</div>
            <div class="howto"> Primeiro você pega a semente, encontra o solo para ela crescer bem feliz, feito isso mete bronca, é só furar e colcocar a semente, agora vamos para o próximo passo possível. 
            </div>
        </div>


    <div class="passos">
            <div class="number">3</div>
            <div class="howto"> Primeiro você pega a semente, encontra o solo para ela crescer bem feliz, feito isso mete bronca, é só furar e colcocar a semente, agora vamos para o próximo passo possível. 
            </div>
        </div>

    <div class="passos">
            <div class="number">4</div>
            <div class="howto"> Primeiro você pega a semente, encontra o solo para ela crescer bem feliz, feito isso mete bronca, é só furar e colcocar a semente, agora vamos para o próximo passo possível. 
            </div>
        </div>

    <div class="passos">
            <div class="number">5</div>
            <div class="howto"> Primeiro você pega a semente, encontra o solo para ela crescer bem feliz, feito isso mete bronca, é só furar e colcocar a semente, agora vamos para o próximo passo possível. 
            </div>
        </div>   

     </div>

</body>
</html>