<!DOCTYPE html>
<head>
    <title>Ceres</title>
		<meta charset="utf-8">	
         <link rel="stylesheet" href={{url_for("static",filename="main.css")}}>
        <script type="text/javascript" src={{url_for("static",filename="main.js")}}> </script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Raleway:300|Roboto&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <div class="bar menu" id="menu">
            <div class="title">C E R E S</div>
    </div>

     <div class="page page-margin"> 

      {% for passo in passos %}

        <div class="passos">
            <div class="number">1</div>
            <div class="howto">{{passo}}
            </div>
        </div>


     </div>

    {% endfor %}

</body>
</html>